*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: magenta;
    padding: 20px 0px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo p {
    background-color: blueviolet;
    padding: 10px ;
    border-radius: 50% ;
    border: 1px solid black;
}
.header__ul {
    display: flex;
    justify-content: center;
}
.header__ul a {
    display: block;
    margin: 0 20px;
    background-color: blueviolet;
    padding: 10px ;
    color: black;
    border: 1px solid black;
}